#visitor-centers {
  margin-top: 2rem;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-grey-3);
  border-radius: var(--bs-border-radius);
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(var(--bs-black-rgb), 0.08);
}

#visitor-centers h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--bs-grey-4);
  border-bottom: 2px solid var(--bs-gray-300);
  padding-bottom: 0.5rem;
}

.visitor-center {
  background-color: var(--bs-pampas);
  border: 1px solid var(--bs-gray-300);
  border-radius: var(--bs-border-radius);
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 1px 2px rgba(var(--bs-black-rgb), 0.05);
}

.visitor-center h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bs-grey-4);
  margin-bottom: 0.5rem;
}

.visitor-center p {
  font-size: 0.95rem;
  color: var(--bs-grey-5);
  line-height: var(--bs-body-line-height);
  margin-bottom: 0.75rem;
}

.visitor-center p:last-child {
  margin-bottom: 0;
}

.visitor-center + .visitor-center {
  border-top: 3px solid var(--bs-gray-200);
  padding-top: 1.25rem;
}


#visitor-centers {
padding: 2rem 3rem;
}

.visitor-center {
background-color: var(--bs-white);
border: 1px solid var(--bs-grey-3);
box-shadow: 0 1px 3px rgba(var(--bs-black-rgb), 0.05);
}

.alert{
  display: flex;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-gray-300);
  box-shadow: 0 1px 2px rgba(var(--bs-black-rgb), 0.05);
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon{
 height: 5em;
}

@media (max-width: 767px) {
  #visitor-centers {
    border: none;
    box-shadow: none;
    padding: 1rem;
  }

  .visitor-center {
    background-color: var(--bs-white);
    border: 1px solid var(--bs-gray-300);
    box-shadow: 0 1px 2px rgba(var(--bs-black-rgb), 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .visitor-center h3 {
    font-size: 1rem;
  }

  .visitor-center p {
    font-size: 0.9rem;
  }
}

