.vc-name {
  border-bottom: 1px solid var(--bs-gray-400);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.vc-info {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.vc-info figure {
  margin: 0;
}

.vc-info figcaption span {
  display: block;
  font-style: italic;
  font-size: 0.8em;
}

.vc-details-list {
  margin-bottom: 2rem;
}

.vc-details-list summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.vc-details-list section {
  padding-left: 1rem;
  margin-top: .5rem;
}

.vc-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.vc-gallery ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
